PORT=4200
HOSTNAME='0.0.0.0'
WS_PORT=8080
NODE_ENV='development'
FRONTEND_URL='http://localhost:3000'

DATABASE_USER='postgres'
DATABASE_PASSWORD='postgres'
DATABASE_HOST='localhost'
DATABASE_PORT='5432'
DATABASE_NAME='postgres'
DATABASE_URL='postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}'

REDIS_PASSWORD='12345'  
REDIS_HOST='localhost'  
REDIS_PORT='6379'

JWT_SECRET='your_jwt_secret'
REFRESH_SECRET='your_refresh_secret'
MFA_CRYPTO_SECRET_KEY='your_secure_crypto_key_32_bytes_long'

SMTP_SERVICE='gmail'
SMTP_HOST='smtp.gmail.com'
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER='your_mail@gmail.com'
SMTP_PASS='your_password'
SMTP_FROM='HONO AUTH <${SMTP_USER}>'

APP_NAME='HONO AUTH'

TELEGRAM_BOT_TOKEN='your_bot_token_here'
TELEGRAM_WEBHOOK_URL='https://your-domain.com/webhook'
